*{box-sizing: border-box;}
html , body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #213;

}
h1 { color:#ccc;}
.content{
    padding: .5rem;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
input{
    width: 33.333%;
    padding: .5rem;
    margin: .5rem;
    border:3px solid #ccc;
    border-radius: 3px;
}
input.invalid{
    border-color: orange;
}
input.valid{
    border-color: green;
}
.errors{
    color:#ccc;
    font-size: 1rem;
    max-width:  30%;
    text-align: left;
}